<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cyberworkshop game</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/cybericon.png" rel="icon">
  <link href="img/apple-touch-reactor-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style-purple.css" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Nav Start /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">CYBER WORKSHOP</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#gameplay">inside</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#download">download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Start /-->
  <div id="home" class="intro route bg-image" style="background-image: url(img/intro-bg.png)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">CYBER WORKSHOP</h1>
                    <p class="intro-subtitle"><span class="text-slider-items">smelt titanium,grow internal organs,enrich uranium,assemble reactors,produce cyber implants</span><strong class="text-slider"></strong></p>
          
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro End /-->

    <!--/ Section About Start /-->
    <section id="about" class="services-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            About the game
                        </h3>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section About End /-->
    <!--/ Section Main story Start /-->
  <section class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full pt-4 pb-3">
            <div class="row">
              <div class="col-md-6">
                <img src="img/maingameplay.gif" class="rounded b-shadow-a w-100" alt="">
              </div>
              <div class="col-md-6 pt-4">
                <div class="about-me pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Main story
                    </h5>
                  </div>
                  <p class="lead">
                     Cyberworkshop is a resource craft video game. You control a robot transporter in a small workshop somewhere in the depths of a large metropolis. 
                     You receive orders and using all the machines available to you, craft the resources necessary for the order. 
                     At your disposal are smelters, concentrators, incubators, and so on. 
                     
                  </p>
                  <p class="lead">
                    The main plot of the game is to complete orders, earn as much money as possible, improve your workshop and craft increasingly complex items to complete more expensive orders.
                  </p>
                  <p class="lead">
                    At the moment the game is under development.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--/ Section Main story End /-->

    <!--/ Section With AI help Start /-->
    <section class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full pt-3 pb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-me pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            AI Help
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        This game is created using AI. Images of resources, machines, UI elements and everything else were generated using Midjourney.
                                    </p>
                                    <p class="lead">
                                        The code for the game was written using ChatGPT4.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="img/ai-asset-1.png" class="rounded b-shadow-a w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section Main story End /-->

    <!--/ Section Maksim B Start /-->
    <div id="developer" class="testimonials paralax-mf bg-image" style="background-image: url(img/intro-bg.png)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-mf" class="owl-carousel owl-theme">
                        <div class="testimonial-box">
                            <div class="author-test">
                                <img src="img/ava.jpg" height="200" alt="" class="rounded-circle b-shadow-a">
                                <span class="author">Maksim Baulin</span>
                            </div>
                            <div class="content-test">
                                <p class="description lead">
                                    I'm a software developer. At the moment, I decided to follow my long-time dream: developing computer games.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Section Maksim B End /-->


    



  <!--/ Section Gameplay Start /-->
    <section id="gameplay" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              What INSIDE
            </h3>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <div class="work-box">
            <a href="img/craft.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/craft.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col">
                    <h2 class="w-title">Equip your workshop for more complex orders</h2>
                    <div class="">
                      <span class="">Buy everything you need to grow organs and assemble reactors</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
            <div class="work-box">
                <a href="img/tissues.png" data-lightbox="gallery-mf">
                    <div class="work-img">
                        <img src="img/tissues.png" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                        <div class="row">
                            <div class="col">
                                <h2 class="w-title">Farming has reached a completely different level</h2>
                                <div class="">
                                    <span class="">The hospital needs bones and nerve tissue</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="img/armor.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/armor.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">The army needs ammunition.</h2>
                    <div class="">
                      <span class="">The difficulty of crafting grows with your workshop</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="img/res.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/res.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Uranium will not enrich itself</h2>
                    <div class="">
                      <span class="">A variety of futuristic-themed crafting resources.</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="img/implant.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/implant.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Implants is an expensive pleasure</h2>
                    <div class="">
                      <span class="">Assemble complex items for expensive orders.</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="img/reactor.png" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="img/reactor.png" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">The era of plutonium</h2>
                    <div class="">
                      <span class="">Highly efficient power supplies straight from your workshop.</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Gameplay End /-->


  
    <!--/ Section Video Start /-->
@*     <section id="gameplay" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">

                <div class="col">
                    <iframe height="500" class="w-100" src="https://www.youtube.com/embed/9oCh3-F_ffM?si=kIQ1el9zVbmJSBz5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </section> *@
    <!--/ Section Video End /-->

    <!--/ Section Play Start /-->
 @*    <section id="play" class="about-mf route sect-pt4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Play
                        </h3>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full pt-4 pb-3">
                        <div class="row align-items-center">
                            <iframe class="w-100" height="800" src="~/game/index.html"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!--/ Section Play End /-->





    <!--/ Section Download Start /-->
    <section id="download" class="about-mf route sect-pt4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Download
                        </h3>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full pt-4 pb-3">
                        <div class="row align-items-center">
                            <div class="col-md-6 pt-4">
                                <div class="about-me pt-md-0">
                                    <p class="lead">
                                        At the moment the game is under development, so this is just a game with core mechanic.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="https://drive.google.com/drive/folders/1ZFkgq-sngOq33T-kvFwUfXjGAPQHLusy?usp=sharing" class="btn btn-success btn-lg">Google Drive</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Section Download End /-->


  <!--/ Section Contact-Footer Start /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/intro-bg.png)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Contact
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      If you are interested in it and have any questions for me or suggestions for cooperation, here are my contacts.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Los Angeles, CA, USA</li>
                      <li><span class="ion-email"></span> baulin.maksim.1992@@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/maksim-baulin-26a359225/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://www.facebook.com/max.baulin.92"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/baulinmaxiuliia/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://www.youtube.com/channel/UCdHdsamEfdyWt7YbM5cF7iw"><span class="ico-circle"><i class="ion-social-youtube"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">Maksim Baulin 2024</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/typed/typed.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
